#player-hand{
    display: inline-flex;
    width: 100%;
    background-color:rgb(96, 46, 15);
    justify-content: center
}
.card{
    width: 18%;
    padding: 10px;
    height:100%;
    background-color: darkred;
    background-clip: content-box;
}
.card-image {  
    max-width: 100%;  
    height: auto;  
}
#game-name{
    text-align: center;
}
.discard{
    text-align: center;
    color:white
}