#player-hand{
    display: inline-flex;
    width: 100%;
    background-color:FF0099;
    justify-content: center
}
.card{
    width: 18%;
    padding-left: 10px;
    padding-right: 10px;
    height:100%;
    background-color: blue;
    background-clip: content-box;
}
.card-image {  
    max-width: 100%;  
    height: auto;  
}
#game-name{
    text-align: center;
}